
body{
	background-color: #bbb;
}

.game-container{
	max-width: 490px;
	margin: 0 auto;
	position: relative;
}
.board{

	transition: all .6s ease-in-out;
}
.board-finished{
	transition-delay: .6s;
	-webkit-animation: pulse 2s ease-out;
}
.board-row{
	margin: auto 0;
	transition: all .2s ease-in-out;
	-webkit-animation-iteration-count: infinite;

}
.board-cell{
	height: 50px;
	width: 50px;
	margin: 1px;
	vertical-align: middle;
	text-align: center;
	font-size: xx-large;
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
	background-color: #fff;
	border: 1px solid #000;
	display: inline-block;
	transition: all .2s ease-in-out;
	position: relative;
	z-index: 1;
}

.board-cell:focus{
	z-index: 3;
	transform:scale(1.2);
	border: 1px solid #2aabd2;
}
.board-cell.finished{
	font-weight: bold;
}

.board-cell:disabled{
	color: #2aabd2;
}
.board-input-invalid{
	background-color: #880000;
	color: #FC1465;
	transform:scale(1.2);
	z-index: 3;
}
.board-cell-item-invalid{
	background-color: #FFD1E1;
}
.board-cell.big-border{
	margin-left: 10px;
}
.board-row.big-border{
	margin-top: 10px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.finished-game-container{
	display: none;
}

.new-game {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	/* unnecessary styling properties */
	max-width: 50%;
	text-align: center;
	z-index: 5;
}

.new-game > img{
	width: 100%;
	margin-bottom: 20px;
}

.overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
	background-color: #000;
	opacity: .5;
}

@media screen and (max-width: 767px) {
	.container{
		padding: 0; !important;
	}
	.game-container{
		max-width: 100%;
		margin: 0 auto;
	}
	.board-cell{
		width: 10%;
	}
	.board-cell.big-border {
		margin-left: 2%;
	}

}

@-webkit-keyframes pulse {
	0% {-webkit-transform: scale(1, 1);}
	50% {-webkit-transform: scale(1.3, 1.3);}
	100% {-webkit-transform: scale(1, 1);}
}