
body{
	background-color: #bbb;
}

.game-container{
	max-width: 490px;
	margin: 0 auto;
}

.board-row{
	margin: auto 0;
}
.board-cell{
	height: 50px;
	width: 50px;
	margin: 1px;
	vertical-align: middle;
	text-align: center;
	font-size: xx-large;
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
	background-color: #fff;
	border: 1px solid #000;
	display: inline-block;
	transition: all .2s ease-in-out;
	position: relative;
	z-index: 1;
}

.board-cell:focus{
	z-index: 3;
	transform:scale(1.2);
	border: 1px solid #2aabd2;

}

.board-cell:disabled{
	color: #2aabd2;
}
.board-input-invalid{
	background-color: #880000;
	color: #FC1465;
	transform:scale(1.2);
	z-index: 3;
}
.board-cell-item-invalid{
	background-color: #FFD1E1;
}
.board-cell.big-border{
	margin-left: 10px;
}
.board-row.big-border{
	margin-top: 10px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

@media screen and (max-width: 767px) {
	.container{
		padding: 0; !important;
	}
	.game-container{
		max-width: 100%;
		margin: 0 auto;
	}
	.board-cell{
		width: 10%;
	}
	.board-cell.big-border {
		margin-left: 2%;
	}

}